In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

from datetime import datetime

In [3]:
datetime.now()

datetime.datetime(2020, 12, 3, 21, 14, 3, 725410)

In [6]:
date_rng = pd.date_range(start='11/01/2020',end='11/05/2020',freq='H')

In [7]:
date_rng

DatetimeIndex(['2020-11-01 00:00:00', '2020-11-01 01:00:00',
               '2020-11-01 02:00:00', '2020-11-01 03:00:00',
               '2020-11-01 04:00:00', '2020-11-01 05:00:00',
               '2020-11-01 06:00:00', '2020-11-01 07:00:00',
               '2020-11-01 08:00:00', '2020-11-01 09:00:00',
               '2020-11-01 10:00:00', '2020-11-01 11:00:00',
               '2020-11-01 12:00:00', '2020-11-01 13:00:00',
               '2020-11-01 14:00:00', '2020-11-01 15:00:00',
               '2020-11-01 16:00:00', '2020-11-01 17:00:00',
               '2020-11-01 18:00:00', '2020-11-01 19:00:00',
               '2020-11-01 20:00:00', '2020-11-01 21:00:00',
               '2020-11-01 22:00:00', '2020-11-01 23:00:00',
               '2020-11-02 00:00:00', '2020-11-02 01:00:00',
               '2020-11-02 02:00:00', '2020-11-02 03:00:00',
               '2020-11-02 04:00:00', '2020-11-02 05:00:00',
               '2020-11-02 06:00:00', '2020-11-02 07:00:00',
               '2020-11-02 08:00:00', '2020-11-02 09:00:00',
               '2020-11-02 10:00:00', '2020-11-02 11:00:00',
               '2020-11-02 12:00:00', '2020-11-02 13:00:00',
               '2020-11-02 14:00:00', '2020-11-02 15:00:00',
               '2020-11-02 16:00:00', '2020-11-02 17:00:00',
               '2020-11-02 18:00:00', '2020-11-02 19:00:00',
               '2020-11-02 20:00:00', '2020-11-02 21:00:00',
               '2020-11-02 22:00:00', '2020-11-02 23:00:00',
               '2020-11-03 00:00:00', '2020-11-03 01:00:00',
               '2020-11-03 02:00:00', '2020-11-03 03:00:00',
               '2020-11-03 04:00:00', '2020-11-03 05:00:00',
               '2020-11-03 06:00:00', '2020-11-03 07:00:00',
               '2020-11-03 08:00:00', '2020-11-03 09:00:00',
               '2020-11-03 10:00:00', '2020-11-03 11:00:00',
               '2020-11-03 12:00:00', '2020-11-03 13:00:00',
               '2020-11-03 14:00:00', '2020-11-03 15:00:00',
               '2020-11-03 16:00:00', '2020-11-03 17:00:00',
               '2020-11-03 18:00:00', '2020-11-03 19:00:00',
               '2020-11-03 20:00:00', '2020-11-03 21:00:00',
               '2020-11-03 22:00:00', '2020-11-03 23:00:00',
               '2020-11-04 00:00:00', '2020-11-04 01:00:00',
               '2020-11-04 02:00:00', '2020-11-04 03:00:00',
               '2020-11-04 04:00:00', '2020-11-04 05:00:00',
               '2020-11-04 06:00:00', '2020-11-04 07:00:00',
               '2020-11-04 08:00:00', '2020-11-04 09:00:00',
               '2020-11-04 10:00:00', '2020-11-04 11:00:00',
               '2020-11-04 12:00:00', '2020-11-04 13:00:00',
               '2020-11-04 14:00:00', '2020-11-04 15:00:00',
               '2020-11-04 16:00:00', '2020-11-04 17:00:00',
               '2020-11-04 18:00:00', '2020-11-04 19:00:00',
               '2020-11-04 20:00:00', '2020-11-04 21:00:00',
               '2020-11-04 22:00:00', '2020-11-04 23:00:00',
               '2020-11-05 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [8]:
df = pd.DataFrame(date_rng,columns=['date'])

In [10]:
df.head()

                 date
0 2020-11-01 00:00:00
1 2020-11-01 01:00:00
2 2020-11-01 02:00:00
3 2020-11-01 03:00:00
4 2020-11-01 04:00:00

In [11]:
df['data'] = np.random.randint(0,100,len(date_rng))

In [13]:
df.head()

                 date  data
0 2020-11-01 00:00:00    96
1 2020-11-01 01:00:00    42
2 2020-11-01 02:00:00     8
3 2020-11-01 03:00:00    71
4 2020-11-01 04:00:00    77

In [14]:
df['datetime']= pd.to_datetime(df['date'])

In [15]:
df.head()

                 date  data            datetime
0 2020-11-01 00:00:00    96 2020-11-01 00:00:00
1 2020-11-01 01:00:00    42 2020-11-01 01:00:00
2 2020-11-01 02:00:00     8 2020-11-01 02:00:00
3 2020-11-01 03:00:00    71 2020-11-01 03:00:00
4 2020-11-01 04:00:00    77 2020-11-01 04:00:00

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      97 non-null     datetime64[ns]
 1   data      97 non-null     int64
 2   datetime  97 non-null     datetime64[ns]
dtypes: datetime64[ns](2), int64(1)
memory usage: 2.4 KB

In [18]:
df.drop('date',axis=1,inplace=True)

In [19]:
df = df.set_index('datetime')

In [20]:
df.head()

                     data
datetime
2020-11-01 00:00:00    96
2020-11-01 01:00:00    42
2020-11-01 02:00:00     8
2020-11-01 03:00:00    71
2020-11-01 04:00:00    77

In [21]:
date_rng[0]

Timestamp('2020-11-01 00:00:00', freq='H')

In [22]:
str_date_rng =[]
for item in date_rng:
    str_date_rng.append(str(item))

In [25]:
type(str_date_rng[0])

str

In [26]:
df['date_str']=str_date_rng

In [27]:
df.head()

                     data             date_str
datetime
2020-11-01 00:00:00    96  2020-11-01 00:00:00
2020-11-01 01:00:00    42  2020-11-01 01:00:00
2020-11-01 02:00:00     8  2020-11-01 02:00:00
2020-11-01 03:00:00    71  2020-11-01 03:00:00
2020-11-01 04:00:00    77  2020-11-01 04:00:00

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 97 entries, 2020-11-01 00:00:00 to 2020-11-05 00:00:00
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   data      97 non-null     int64
 1   date_str  97 non-null     object
dtypes: int64(1), object(1)
memory usage: 4.8+ KB

In [29]:
df.date_str = pd.to_datetime(df.date_str)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 97 entries, 2020-11-01 00:00:00 to 2020-11-05 00:00:00
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   data      97 non-null     int64
 1   date_str  97 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 4.8 KB

In [36]:
str_date_rng_2 = ['June-01-2020','May-02-2020','July-06-2020']

In [40]:
dt_rng_2 = []
for item in str_date_rng_2:
    a = datetime.strptime(item,'%B-%d-%Y')
    dt_rng_2.append(a)

In [38]:
dt_rng_2

[datetime.datetime(2020, 6, 1, 0, 0),
 datetime.datetime(2020, 5, 2, 0, 0),
 datetime.datetime(2020, 7, 6, 0, 0)]

In [43]:
len(str_date_rng_2)

3

In [50]:
str_date_rng_2 = ['01-Juni-2020','02-Mei-2020','01-Juli-2020']

bulan = {'Mei':'05','Juni':'06','Juli':'07'}

for tgl in range(len(str_date_rng_2)):
    for bln in bulan.keys():
        if bln in str_date_rng_2[tgl] :  
            str_date_rng_2[tgl] = str_date_rng_2[tgl].replace(bln,bulan[bln])

In [51]:
str_date_rng_2

['01-06-2020', '02-05-2020', '01-07-2020']

In [53]:
str_date_new_2 = []
for tgl in str_date_rng_2:
    a = datetime.strptime(tgl,'%d-%m-%Y')
    str_date_new_2.append(a)

In [54]:
str_date_new_2

[datetime.datetime(2020, 6, 1, 0, 0),
 datetime.datetime(2020, 5, 2, 0, 0),
 datetime.datetime(2020, 7, 1, 0, 0)]

## Kembali Ke DF

In [55]:
df[df.index.month==11]

                     data            date_str
datetime
2020-11-01 00:00:00    96 2020-11-01 00:00:00
2020-11-01 01:00:00    42 2020-11-01 01:00:00
2020-11-01 02:00:00     8 2020-11-01 02:00:00
2020-11-01 03:00:00    71 2020-11-01 03:00:00
2020-11-01 04:00:00    77 2020-11-01 04:00:00
...                   ...                 ...
2020-11-04 20:00:00     8 2020-11-04 20:00:00
2020-11-04 21:00:00    97 2020-11-04 21:00:00
2020-11-04 22:00:00     7 2020-11-04 22:00:00
2020-11-04 23:00:00    37 2020-11-04 23:00:00
2020-11-05 00:00:00    76 2020-11-05 00:00:00

[97 rows x 2 columns]

In [57]:
df[df.index.day==1]

                     data            date_str
datetime
2020-11-01 00:00:00    96 2020-11-01 00:00:00
2020-11-01 01:00:00    42 2020-11-01 01:00:00
2020-11-01 02:00:00     8 2020-11-01 02:00:00
2020-11-01 03:00:00    71 2020-11-01 03:00:00
2020-11-01 04:00:00    77 2020-11-01 04:00:00
2020-11-01 05:00:00    45 2020-11-01 05:00:00
2020-11-01 06:00:00    33 2020-11-01 06:00:00
2020-11-01 07:00:00    24 2020-11-01 07:00:00
2020-11-01 08:00:00    54 2020-11-01 08:00:00
2020-11-01 09:00:00     6 2020-11-01 09:00:00
2020-11-01 10:00:00    49 2020-11-01 10:00:00
2020-11-01 11:00:00    68 2020-11-01 11:00:00
2020-11-01 12:00:00    92 2020-11-01 12:00:00
2020-11-01 13:00:00    66 2020-11-01 13:00:00
2020-11-01 14:00:00    43 2020-11-01 14:00:00
2020-11-01 15:00:00    90 2020-11-01 15:00:00
2020-11-01 16:00:00    62 2020-11-01 16:00:00
2020-11-01 17:00:00    32 2020-11-01 17:00:00
2020-11-01 18:00:00    96 2020-11-01 18:00:00
2020-11-01 19:00:00    94 2020-11-01 19:00:00
2020-11-01 20:00:00    71 2020-11-01 20:00:00
2020-11-01 21:00:00    43 2020-11-01 21:00:00
2020-11-01 22:00:00    36 2020-11-01 22:00:00
2020-11-01 23:00:00    67 2020-11-01 23:00:00